<md-dialog layout-padding>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Browse Images</h2>
		</div>
	</md-toolbar>

	<md-content>
		<form ng-submit="tools.img.search(temp.imgSearchTerm)">
			<div layout="row" flex>
				<md-input-container flex class="md-icon-float md-block md-title">
					<label>Search For Images</label>
					<input type="text" ng-model="temp.imgSearchTerm">
				</md-input-container>
				<div>
					<md-button class="pull-right md-raised" ng-click="tools.img.search(temp.imgSearchTerm)"><i class="fa fa-search"></i></md-button>
				</div>
			</div>
		</form>
		<div layout="row" layout-wrap>
			<div flex="100" flex-gt-sm="25" style="max-height: 250px; overflow:hidden; padding:5px;" ng-repeat="img in temp.imgSearchResults">
				<img ng-src="{{img.webformatURL}}" style="width: 100%;" ng-click="tools.img.use(img.largeImageURL || img.webformatURL)">
			</div>
		</div>
	</md-content>

	<div layout="row" class="demo-dialog-button">
		<md-button ng-click="tools.img.cancel()">Cancel</md-button>
		<span flex></span>
		<md-button ng-click="tools.img.load()">Load More</md-button>
		<p ng-show="temp.imgSearchResults">Powered By <a href="https://pixabay.com/" target="_blank">Pixabay</a></p>
		<!--<md-button class="pull-right" ng-click="js.img.set()">Preview</md-button>-->
	</div>
</md-dialog>