<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body layout="column" ng-controller="SiteCtrl" ng-cloak>
		<div ng-include="tools.component('header')"></div>
		<md-content flex layout="row" ng-view></md-content>
		<% include ../partials/scripts.ejs %>
	</body>
</html>