<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body layout="column" ng-controller="SiteCtrl" ng-cloak>
<!--<body layout="column" ng-controller="SiteCtrl" md-swipe-right="tools.sidebar('open')" md-swipe-left="tools.sidebar('close')">-->
		<md-toolbar id="maintoolbar" md-whiteframe="2" ng-include="tools.component('header')"></md-toolbar>
		<md-content flex layout="row" ng-view></md-content>
		<% include ../partials/scripts.ejs %>
	</body>
</html>