

<md-content flex layout-padding>
	<md-grid-list md-cols="2" md-cols-sm="3" md-cols-gt-sm="4" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
		<md-grid-tile md-colspan="1" md-rowspan="1" style="background:#EEE;" ng-repeat="g in groups | filter:listSearch">
			<md-grid-tile-header>
				<div class="pull-right" ng-show="g.usedBy == user.uid">
					<i class="fa fa-cogs" title="edit" ng-click="tools.edit(r)"></i>
				</div>
				<h3>{{g.title}}</h3>
			</md-grid-tile-header>
			<img cl-src="{{g.image.secure_url}}" transform_w="400" transform_h="400" style="width:100%;">
			<md-grid-tile-footer>
				<div class="pull-right">
					<md-button ng-click="tools.group.join(g.$id)">Join</md-button>
				</div>
				<h3>{{g.description}}</h3>
			</md-grid-tile-footer>
		</md-grid-tile>

		<md-grid-tile md-colspan="1" md-rowspan="1" style="background:#DDD;">
			<md-grid-tile-header>
				<h3 contenteditable ng-model="temp.group.title" placeholder="New Group"></h3>
			</md-grid-tile-header>
			<i class="fa fa-camera" ng-click="tools.group.setImage()" ng-hide="temp.group.image"></i>
			<img ng-show="temp.group.image" cl-src="{{temp.group.image.secure_url}}" transform_w="400" transform_h="400" style="width:100%;" ng-click="tools.group.setImage()">
			<md-grid-tile-footer>
				<div class="pull-right">
					<i class="fa fa-save" ng-click="tools.group.create()"></i>
				</div>
			</md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>
</md-content>